@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch|Monoton&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Kavivanar");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai|Chewy");
body {
  background-image: url(../images/background/back1.jpg);
  width: 1000px;
  font-family: "Arima Madurai", cursive; }
  body header {
    background-image: url(../images/mountain/mountain1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 100%; }
    body header nav {
      position: fixed;
      width: 100%;
      animation-name: fade-in;
      animation-duration: 4s;
      animation-timing-function: ease-in-out; }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      body header nav .navbar {
        overflow: hidden;
        background-color: #efb6ac;
        font-family: Arial, Helvetica, sans-serif; }
@keyframes rotation {
  20% {
    transform: rotateY(0deg); }
  30% {
    transform: rotateY(45deg); }
  50% {
    transform: rotateY(90deg); }
  60% {
    transform: rotateY(135deg); }
  70% {
    transform: rotateY(180deg); }
  80% {
    transform: rotateY(225deg); }
  90% {
    transform: rotateY(360deg); } }
        body header nav .navbar .dropbtn, body header nav .navbar .icon {
          animation-name: rotation;
          animation-duration: 1s;
          animation-delay: 3s; }
        body header nav .navbar a:hover, body header nav .navbar .dropdown:hover .dropbtn {
          background-color: #AD2222;
          color: #efb6ac; }
        body header nav .navbar a {
          float: left;
          font-size: 16px;
          color: #AD2222;
          font-family: "Lobster", cursive;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none; }
        body header nav .navbar .dropdown {
          float: left;
          overflow: hidden;
          font-size: 16px;
          border: none;
          outline: none;
          color: white;
          background-color: inherit;
          font-family: inherit;
          margin: 0; }
          body header nav .navbar .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0; }
          body header nav .navbar .dropdown .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1; }
            body header nav .navbar .dropdown .dropdown-content a {
              float: none;
              color: #000;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left; }
            body header nav .navbar .dropdown .dropdown-content a:hover {
              background-color: #ddd; }
        body header nav .navbar .dropdown:hover .dropdown-content {
          display: block; }
        body header nav .navbar .icon-box .link {
          display: none;
          min-width: 60px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1; }
        body header nav .navbar .icon-box:hover .link {
          display: inherit; }
    body header .heading-container {
      width: 1000px;
      padding-top: 26em;
      padding-bottom: 50px;
      margin-bottom: 0px;
      left: 2%; }
      body header .heading-container .head {
        border: 0px solid;
        padding: 15px;
        width: 170px;
        height: 100px; }
        body header .heading-container .head h1 {
          font-family: "Monoton", cursive;
          color: #ffffff45;
          font-size: 75px;
          text-shadow: 2px 2px 1px #000000b5;
          animation-name: fade-in;
          animation-duration: 4s;
          animation-timing-function: ease-in-out; }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  body section {
    display: grid;
    grid-template-areas: 'images' 'section' 'sidebar' 'sectiontwo' 'sectionthree' 'sidebarTwo' 'sectionfour';
    grid-row-gap: 10px; }
    body section #images {
      grid-area: images;
      border: 0px solid blue;
      background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 10% 90%; }
      body section #images h3 {
        margin-left: 3em; }
      body section #images .homeImg {
        height: 100%;
        width: 100%; }
    body section .content {
      width: 100%; }
    body section #camping {
      background-color: #b1706761;
      grid-area: section; }
      body section #camping .camping {
        padding: 5px; }
        body section #camping .camping h4 {
          font-family: "Chewy", cursive;
          font-size: 25px; }
    body section #fishing {
      background-color: #b1706761;
      grid-area: sectiontwo; }
      body section #fishing .fishing {
        padding: 5px; }
        body section #fishing .fishing h4 {
          font-family: "Chewy", cursive;
          font-size: 25px; }
    body section #hiking {
      background-color: #b1706761;
      grid-area: sectionthree; }
      body section #hiking .hiking {
        padding: 5px; }
        body section #hiking .hiking h4 {
          font-family: "Chewy", cursive;
          font-size: 25px; }
    body section #rock-climbing {
      background-color: #b1706761;
      grid-area: sectionfour; }
      body section #rock-climbing .rock-climbing {
        padding: 5px; }
        body section #rock-climbing .rock-climbing h4 {
          font-family: "Chewy", cursive;
          font-size: 25px; }
    body section #scroll-one {
      background-color: #b1706761;
      grid-area: sidebar; }
      body section #scroll-one h5 {
        font-family: "Cabin Sketch", cursive; }
    body section #scroll-two {
      background-color: #b1706761;
      grid-area: sidebarTwo; }
      body section #scroll-two h5 {
        font-family: "Cabin Sketch", cursive; }
    body section .sidebar {
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap; }
      body section .sidebar .heading {
        display: none; }
      body section .sidebar .heading {
        width: 100%;
        height: 100%; }
      body section .sidebar .picture {
        width: 100%;
        height: 300px;
        display: inline-block; }
  body footer {
    border: 0px solid;
    background-color: #ffffff45;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 5fr;
    grid-gap: 10px; }
    body footer div {
      display: inline-block;
      padding: 5px; }
      body footer div ul {
        margin-left: -50px; }
        body footer div ul li {
          display: inline-block;
          padding-left: 10px; }
      body footer div a {
        text-decoration: none;
        color: #183A37; }
        body footer div a:hover {
          text-decoration: underline;
          color: #f9f9f9; }
    body footer #about {
      grid-column: 1 / 2; }
    body footer #related-sites {
      grid-column: 2 / 3; }

@media only screen and (min-width: 1050px) {
  body {
    width: auto; }
    body section {
      grid-template-areas: 'images images images images' 'section section section sidebar' 'sectiontwo sectiontwo sectiontwo sidebar' 'sectionthree sectionthree sectionthree sidebarTwo' 'sectionfour sectionfour sectionfour sidebarTwo';
      grid-column-gap: 10px;
      grid-row-gap: 0px; }
      body section #images h3 {
        margin-left: 6em; }
      body section .sidebar {
        height: 59em;
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        margin-left: 1em;
        float: right; }
        body section .sidebar .heading {
          height: 50px;
          margin-top: -10px;
          padding: 1px;
          padding-left: 10px;
          display: block; }
        body section .sidebar .picture {
          height: 200px;
          display: block; }
    body footer div ul {
      margin-left: -40px; }
      body footer div ul li {
        display: block;
        padding-left: 0px; } }

/*# sourceMappingURL=style.css.map */
