@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch|Monoton&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Kavivanar");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai|Chewy");
body {
  background-image: url(../images/background/back1.jpg);
  font-family: "Arima Madurai", cursive; }
  body nav {
    position: fixed;
    width: 100%;
    animation-name: fade-in;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    z-index: 2; }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    body nav .navbar {
      overflow: hidden;
      background-color: #efb6ac;
      font-family: Arial, Helvetica, sans-serif; }
@keyframes rotation {
  20% {
    transform: rotateY(0deg); }
  30% {
    transform: rotateY(45deg); }
  50% {
    transform: rotateY(90deg); }
  60% {
    transform: rotateY(135deg); }
  70% {
    transform: rotateY(180deg); }
  80% {
    transform: rotateY(225deg); }
  90% {
    transform: rotateY(360deg); } }
      body nav .navbar .dropbtn, body nav .navbar .icon {
        animation-name: rotation;
        animation-duration: 1s;
        animation-delay: 3s; }
      body nav .navbar a:hover, body nav .navbar .dropdown:hover .dropbtn {
        background-color: #AD2222;
        color: #efb6ac; }
      body nav .navbar a {
        float: left;
        font-size: 16px;
        color: #AD2222;
        font-family: "Lobster", cursive;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }
      body nav .navbar .dropdown {
        float: left;
        overflow: hidden;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0; }
        body nav .navbar .dropdown .dropbtn {
          font-size: 16px;
          border: none;
          outline: none;
          color: white;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit;
          margin: 0; }
        body nav .navbar .dropdown .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1; }
          body nav .navbar .dropdown .dropdown-content a {
            float: none;
            color: #000;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left; }
          body nav .navbar .dropdown .dropdown-content a:hover {
            background-color: #ddd; }
      body nav .navbar .dropdown:hover .dropdown-content {
        display: block; }
      body nav .navbar .icon-box .link {
        display: none;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1; }
      body nav .navbar .icon-box:hover .link {
        display: inherit; }
  body section {
    margin: 0 auto; }
    body section #camping {
      padding: 7em;
      padding-top: 8em;
      padding-bottom: 10em;
      grid-row-gap: 1em;
      grid-column-gap: 5px;
      display: grid;
      grid-template-areas: 'slide slide test1' 'slide slide test2' 'test3 test4 test5'; }
@keyframes rotationy {
  75% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(-360deg); } }
@keyframes rotationx {
  25% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(360deg); }
  75% {
    transform: rotateY(1deg); }
  100% {
    transform: rotateY(355deg); } }
@keyframes rotationa {
  75% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(360deg); } }
      body section #camping div {
        border: 0px solid black;
        width: 250px;
        height: 150px; }
      body section #camping .slideshow {
        border: 1px solid black;
        width: 527px;
        height: 318px;
        grid-area: slide;
        overflow: hidden;
        margin: 0; }
@keyframes campslide {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -527px; }
  50% {
    margin-left: -527px; }
  60% {
    margin-left: -1054px; }
  70% {
    margin-left: -1054px; }
  80% {
    margin-left: -1581px; }
  90% {
    margin-left: -1581px; } }
        body section #camping .slideshow .slide-wrapper {
          animation: campslide 18s ease infinite;
          width: 2912px; }
          body section #camping .slideshow .slide-wrapper .slide {
            width: 527px;
            height: 318px;
            float: left;
            position: relative; }
            body section #camping .slideshow .slide-wrapper .slide .overlay {
              left: 0;
              right: 0;
              background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
              overflow: hidden;
              width: 100%;
              transform: scale(0); }
            body section #camping .slideshow .slide-wrapper .slide:hover .overlay {
              transform: scale(1); }
            body section #camping .slideshow .slide-wrapper .slide .overlay {
              position: absolute;
              bottom: 0;
              background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
              overflow: hidden;
              height: 100%;
              transition: .3s ease; }
              body section #camping .slideshow .slide-wrapper .slide .overlay .text {
                color: white;
                font-size: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center; }
            body section #camping .slideshow .slide-wrapper .slide .overlay .text {
              font-size: 25px; }
      body section #camping .box1 {
        grid-area: test1;
        animation-name: rotationa;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        position: relative; }
        body section #camping .box1 .overlay {
          left: 0;
          right: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          width: 100%;
          transform: scale(0); }
        body section #camping .box1:hover .overlay {
          transform: scale(1); }
        body section #camping .box1 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #camping .box1 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #camping .box2 {
        grid-area: test2;
        animation-name: rotationa;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.5s;
        position: relative; }
        body section #camping .box2 .overlay {
          left: 0;
          right: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          width: 100%;
          transform: scale(0); }
        body section #camping .box2:hover .overlay {
          transform: scale(1); }
        body section #camping .box2 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #camping .box2 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #camping .box3 {
        grid-area: test3;
        animation-name: rotationy;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 4s;
        position: relative; }
        body section #camping .box3 .overlay {
          left: 100%;
          right: 0;
          width: 0; }
        body section #camping .box3:hover .overlay {
          width: 100%;
          left: 0; }
        body section #camping .box3 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #camping .box3 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #camping .box4 {
        grid-area: test4;
        animation-name: rotationy;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 3.5s;
        position: relative; }
        body section #camping .box4 .overlay {
          left: 0;
          right: 100%;
          width: 0; }
        body section #camping .box4:hover .overlay {
          width: 100%;
          right: 0; }
        body section #camping .box4 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #camping .box4 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #camping .box5 {
        grid-area: test5;
        animation-name: rotationx;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
        position: relative; }
        body section #camping .box5 .overlay {
          left: 100%;
          right: 0;
          width: 0; }
        body section #camping .box5:hover .overlay {
          width: 100%;
          left: 0; }
        body section #camping .box5 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #camping .box5 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
    body section #fishing {
      display: grid;
      grid-template-areas: 'slide1 slide1 fish fish2' 'slide1 slide1 slide2 slide2' 'nonefish nonefish slide2 slide2';
      padding-left: 0em; }
      body section #fishing .slideshow {
        border: 0px solid black;
        width: 500px;
        height: 300px;
        grid-area: slide1;
        overflow: hidden;
        margin: 0; }
@keyframes fishslide {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -500px; }
  50% {
    margin-left: -500px; }
  60% {
    margin-left: -1000px; }
  70% {
    margin-left: -1000px; }
  80% {
    margin-left: -1500px; }
  90% {
    margin-left: -1500px; } }
        body section #fishing .slideshow .slide-wrapper {
          animation: fishslide 18s ease infinite;
          width: 2912px; }
          body section #fishing .slideshow .slide-wrapper .slide {
            width: 500px;
            height: 300px;
            float: left;
            position: relative; }
            body section #fishing .slideshow .slide-wrapper .slide .overlay {
              position: absolute;
              bottom: 0;
              background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
              overflow: hidden;
              height: 100%;
              transition: .3s ease; }
              body section #fishing .slideshow .slide-wrapper .slide .overlay .text {
                color: white;
                font-size: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center; }
            body section #fishing .slideshow .slide-wrapper .slide .overlay .text {
              font-size: 25px; }
      body section #fishing .slideshow2 {
        border: 0px solid black;
        width: 500px;
        height: 300px;
        grid-area: slide2;
        overflow: hidden;
        margin: 0; }
@keyframes fishslide {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -500px; }
  50% {
    margin-left: -500px; }
  60% {
    margin-left: -1000px; }
  70% {
    margin-left: -1000px; }
  80% {
    margin-left: -1500px; }
  90% {
    margin-left: -1500px; } }
        body section #fishing .slideshow2 .slide-wrapper {
          animation: fishslide 18s ease infinite;
          width: 2912px; }
          body section #fishing .slideshow2 .slide-wrapper .slide {
            width: 500px;
            height: 300px;
            float: left; }
      body section #fishing .part1 {
        border: 0px solid black;
        height: 150px;
        width: 250px;
        grid-area: fish;
        position: relative; }
        body section #fishing .part1 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #fishing .part1 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #fishing .part2 {
        border: 0px solid black;
        height: 150px;
        width: 250px;
        grid-area: fish2;
        position: relative; }
        body section #fishing .part2 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #fishing .part2 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #fishing .part3 {
        border: 0px solid black;
        overflow: hidden;
        width: 500px;
        height: 150px;
        grid-area: nonefish;
        position: relative; }
        body section #fishing .part3 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #fishing .part3 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
    body section #hiking {
      display: grid;
      grid-template-areas: 'hiking hiking hiking2 hiking2' 'hiking hiking hiking2 hiking2' 'hike2 hike hike hike3';
      padding-left: 0em;
      padding-top: 2em;
      padding-top: 5em; }
      body section #hiking .slideshow {
        border: 0px solid black;
        width: 500px;
        height: 300px;
        grid-area: hiking;
        overflow: hidden;
        margin: 0; }
@keyframes fishslide {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -500px; }
  50% {
    margin-left: -500px; }
  60% {
    margin-left: -1000px; }
  70% {
    margin-left: -1000px; }
  80% {
    margin-left: -1500px; }
  90% {
    margin-left: -1500px; } }
        body section #hiking .slideshow .slide-wrapper {
          animation: fishslide 18s ease infinite;
          width: 2912px; }
          body section #hiking .slideshow .slide-wrapper .slide {
            width: 500px;
            height: 300px;
            float: left;
            position: relative; }
            body section #hiking .slideshow .slide-wrapper .slide .overlay {
              position: absolute;
              bottom: 0;
              background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
              overflow: hidden;
              height: 100%;
              transition: .3s ease; }
              body section #hiking .slideshow .slide-wrapper .slide .overlay .text {
                color: white;
                font-size: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center; }
            body section #hiking .slideshow .slide-wrapper .slide .overlay .text {
              font-size: 25px; }
      body section #hiking .slideshow2 {
        border: 0px solid black;
        width: 500px;
        height: 300px;
        grid-area: hiking2;
        overflow: hidden;
        margin: 0; }
@keyframes fishslide {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -500px; }
  50% {
    margin-left: -500px; }
  60% {
    margin-left: -1000px; }
  70% {
    margin-left: -1000px; }
  80% {
    margin-left: -1500px; }
  90% {
    margin-left: -1500px; } }
        body section #hiking .slideshow2 .slide-wrapper {
          animation: fishslide 18s ease infinite;
          width: 2912px; }
          body section #hiking .slideshow2 .slide-wrapper .slide {
            width: 500px;
            height: 300px;
            float: left; }
      body section #hiking .hike {
        border: 0px solid black;
        width: 500px;
        height: 200px;
        grid-area: hike;
        position: relative; }
        body section #hiking .hike .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #hiking .hike .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #hiking .hike2 {
        border: 0px solid black;
        width: 250px;
        height: 200px;
        grid-area: hike2;
        position: relative; }
        body section #hiking .hike2 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #hiking .hike2 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
      body section #hiking .hike3 {
        border: 0px solid black;
        width: 250px;
        height: 200px;
        grid-area: hike3;
        position: relative; }
        body section #hiking .hike3 .overlay {
          position: absolute;
          bottom: 0;
          background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
          overflow: hidden;
          height: 100%;
          transition: .3s ease; }
          body section #hiking .hike3 .overlay .text {
            color: white;
            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; }
    body section #rock-climbing {
      display: grid;
      grid-template-areas: 'topslot topslot topslot topslot' 'slot1 slotS slotS slot2' 'slot3 slotS slotS slot4';
      padding-left: 0em;
      padding-right: 0em;
      padding-top: 2em; }
    body section .img1 {
      border: 0px solid black;
      width: 300px;
      height: 200px;
      grid-area: slot1;
      position: relative; }
      body section .img1 .overlay {
        position: absolute;
        bottom: 0;
        background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
        overflow: hidden;
        height: 100%;
        transition: .3s ease; }
        body section .img1 .overlay .text {
          color: white;
          font-size: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
    body section .img2 {
      border: 0px solid black;
      width: 300px;
      height: 200px;
      grid-area: slot2;
      position: relative; }
      body section .img2 .overlay {
        position: absolute;
        bottom: 0;
        background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
        overflow: hidden;
        height: 100%;
        transition: .3s ease; }
        body section .img2 .overlay .text {
          color: white;
          font-size: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
    body section .img3 {
      border: 0px solid black;
      width: 300px;
      height: 200px;
      grid-area: slot3;
      position: relative; }
      body section .img3 .overlay {
        position: absolute;
        bottom: 0;
        background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
        overflow: hidden;
        height: 100%;
        transition: .3s ease; }
        body section .img3 .overlay .text {
          color: white;
          font-size: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
    body section .img4 {
      border: 0px solid black;
      width: 300px;
      height: 200px;
      grid-area: slot4;
      position: relative; }
      body section .img4 .overlay {
        position: absolute;
        bottom: 0;
        background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
        overflow: hidden;
        height: 100%;
        transition: .3s ease; }
        body section .img4 .overlay .text {
          color: white;
          font-size: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
    body section .slideshow {
      border: 0px solid black;
      width: 1000px;
      height: 200px;
      grid-area: topslot;
      overflow: hidden;
      margin: 0; }
@keyframes rockslide {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -1000px; }
  50% {
    margin-left: -1000px; }
  60% {
    margin-left: -2000px; }
  70% {
    margin-left: -2000px; } }
      body section .slideshow .slide-wrapper {
        animation: rockslide 18s ease infinite;
        width: 10000px; }
        body section .slideshow .slide-wrapper .slide {
          width: 1000px;
          height: 200px;
          float: left;
          position: relative; }
          body section .slideshow .slide-wrapper .slide .overlay {
            position: absolute;
            bottom: 0;
            background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
            overflow: hidden;
            height: 100%;
            transition: .3s ease; }
            body section .slideshow .slide-wrapper .slide .overlay .text {
              color: white;
              font-size: 10px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center; }
          body section .slideshow .slide-wrapper .slide .overlay .text {
            font-size: 25px; }
    body section .slideshow2 {
      border: 0px solid black;
      width: 400px;
      height: 400px;
      grid-area: slotS;
      overflow: hidden;
      margin: 0; }
@keyframes rockslide2 {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -400px; }
  50% {
    margin-left: -400px; }
  60% {
    margin-left: -800px; }
  70% {
    margin-left: -800px; }
  80% {
    margin-left: -1200px; }
  90% {
    margin-left: -1200px; } }
      body section .slideshow2 .slide-wrapper {
        animation: rockslide2 18s ease infinite;
        width: 2912px; }
        body section .slideshow2 .slide-wrapper .slide {
          width: 400px;
          height: 400px;
          float: left; }
  body footer {
    border: 0px solid;
    background-color: #ffffff45;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 5fr;
    grid-gap: 10px;
    width: 150%; }
    body footer div {
      display: inline-block;
      padding: 5px; }
      body footer div ul {
        margin-left: -50px; }
        body footer div ul li {
          display: inline-block;
          padding-left: 10px; }
      body footer div a {
        text-decoration: none;
        color: #183A37; }
        body footer div a:hover {
          text-decoration: underline;
          color: #f9f9f9; }
    body footer #about {
      grid-column: 1 / 2; }
    body footer #related-sites {
      grid-column: 2 / 3; }

@media only screen and (min-width: 1000px) {
  body section #camping {
    padding: 10em;
    padding-left: 22em; }
  body section #fishing {
    padding-left: 15em;
    padding-right: 20em; }
  body section #hiking {
    padding-left: 15em;
    padding-right: 20em; }
  body section #rock-climbing {
    padding-left: 15em;
    padding-right: 20em; }
  body footer div ul {
    margin-left: -40px; }
    body footer div ul li {
      display: block;
      padding-left: 0px; } }
@media only screen and (min-width: 1440px) {
  body section #camping {
    padding-left: 23em;
    padding-right: 25em;
    padding-top: 6em;
    padding-bottom: 11em; }
  body section #fishing {
    padding-left: 15em;
    padding-right: 20em; }
    body section #fishing .slideshow .overlay {
      left: 0;
      right: 0;
      background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
      overflow: hidden;
      width: 100%;
      transform: scale(0); }
    body section #fishing .slideshow:hover .overlay {
      transform: scale(1); }
    body section #fishing .part1 .overlay {
      left: 0;
      right: 0;
      background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
      overflow: hidden;
      width: 100%;
      transform: scale(0); }
    body section #fishing .part1:hover .overlay {
      transform: scale(1); }
    body section #fishing .part2 .overlay {
      left: 0;
      right: 0;
      background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
      overflow: hidden;
      width: 100%;
      transform: scale(0); }
    body section #fishing .part2:hover .overlay {
      transform: scale(1); }
    body section #fishing .part3 .overlay {
      left: 0;
      right: 0;
      background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
      overflow: hidden;
      width: 100%;
      transform: scale(0); }
    body section #fishing .part3:hover .overlay {
      transform: scale(1); }
  body section #hiking {
    padding-left: 15em;
    padding-right: 20em; }
    body section #hiking .slideshow .overlay {
      left: 0;
      right: 0;
      background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
      overflow: hidden;
      width: 100%;
      transform: scale(0); }
    body section #hiking .slideshow:hover .overlay {
      transform: scale(1); }
    body section #hiking .hike .overlay {
      left: 0;
      right: 0;
      background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
      overflow: hidden;
      width: 100%;
      transform: scale(0); }
    body section #hiking .hike:hover .overlay {
      transform: scale(1); }
    body section #hiking .hike2 .overlay {
      left: 100%;
      right: 0;
      width: 0; }
    body section #hiking .hike2:hover .overlay {
      width: 100%;
      left: 0; }
    body section #hiking .hike3 .overlay {
      left: 0;
      right: 100%;
      width: 0; }
    body section #hiking .hike3:hover .overlay {
      width: 100%;
      right: 0; }
  body section #rock-climbing {
    padding-left: 15em;
    padding-right: 20em; }
    body section #rock-climbing .img1 .overlay {
      left: 100%;
      right: 0;
      width: 0; }
    body section #rock-climbing .img1:hover .overlay {
      width: 100%;
      left: 0; }
    body section #rock-climbing .img2 .overlay {
      left: 0;
      right: 100%;
      width: 0; }
    body section #rock-climbing .img2:hover .overlay {
      width: 100%;
      right: 0; }
    body section #rock-climbing .img3 .overlay {
      left: 0;
      right: 100%;
      width: 0; }
    body section #rock-climbing .img3:hover .overlay {
      width: 100%;
      right: 0; }
    body section #rock-climbing .img4 .overlay {
      left: 100%;
      right: 0;
      width: 0; }
    body section #rock-climbing .img4:hover .overlay {
      width: 100%;
      left: 0; }
    body section #rock-climbing .slideshow .overlay {
      left: 0;
      right: 100%;
      width: 0; }
    body section #rock-climbing .slideshow:hover .overlay {
      width: 100%;
      right: 0; } }

/*# sourceMappingURL=style2.css.map */
