@import "partials/variables", "partials/mixins", "partials/colorfunction", "partials/keyframes";
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Monoton&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kavivanar');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Chewy');
////////////////////////////////////////////////////////
body {
  background-image: url(../images/background/back1.jpg);
  width: 1000px;
  font-family: $defaultfont;

  header {
    background-image: url(../images/mountain/mountain1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 100%;
    //////////////////////////// navbar///////////////////////////////
    nav {
      @include nav;
    }


  ///////////////// heading////////////////////////////////
    .heading-container {
      width: 1000px;
      padding-top: 26em;
      padding-bottom: 50px;
      margin-bottom: 0px;
      left: 2%;


      .head {
        border: 0px solid;
        padding: 15px;
        width: 170px;
        height: 100px;


        h1 {
          font-family: $basefont;
          color: $transparent;
          font-size: $heading;
          text-shadow: 2px 2px 1px #000000b5;
          @include fade;
          @include fade-in;
        }
      }
    }
  }
 /////////////////////////////////////////////////////////////
 section {
   display: grid;
   grid-template-areas:
   'images'
   'section'
   'sidebar'
   'sectiontwo'
   'sectionthree'
   'sidebarTwo'
   'sectionfour';
   grid-row-gap: 10px;
   //////////////////////category images///////////
   #images {
       grid-area: images;
       border: 0px solid blue;
       background: $fireBrickGradient;
       width: 100%;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 10% 90%;
       h3 {
         margin-left: 3em;
         a {
           text-decoration: none;
           color: $black;
         }
       }
       .homeImg {
         height: 100%;
         width: 100%;
       }
     }
     //////////////////////content//////////////
     .content {
       width: 100%;
     }
     // Camping Section
     #camping {
       background-color: #b1706761;
       grid-area: section;
       .camping {
         padding: 5px;
         h4 {
           font-family: $h4font;
           font-size: 25px;
         }
       }
     }
     // Fishing Section
     #fishing {
       background-color: #b1706761;
       grid-area: sectiontwo;
       .fishing {
         padding: 5px;
         h4 {
           font-family: $h4font;
           font-size: 25px;;
         }
       }
     }
     // Hiking Section
     #hiking {
       background-color: #b1706761;
       grid-area: sectionthree;
       .hiking {
         padding: 5px;
         h4 {
           font-family: $h4font;
           font-size: 25px;
         }
       }
      }
      // Rock Climbing Section
     #rock-climbing {
       background-color: #b1706761;
       grid-area: sectionfour;
       .rock-climbing {
         padding: 5px;
         h4 {
           font-family: $h4font;
           font-size: 25px;
         }
       }
     }
     //////////////////////////sidebar//////////////////
     // scroll sidebar part one
     #scroll-one {
       background-color: #b1706761;
       grid-area: sidebar;
       h5 {
         font-family: $h5font;
       }
     }
     // scroll sidebar part two
     #scroll-two {
       background-color: #b1706761;
       grid-area: sidebarTwo;
       h5 {
         font-family: $h5font;
       }
     }
     // both scroll sidebar
   .sidebar {
      @include scrollB;
      .heading {
        width: 100%;
        height: 100%;
      }
      .picture {
        width: 100%;
        height: 300px;
        display: inline-block;
      }
    }
  }
  /////////////footer/////////////////////////
  footer {
    @include footer;

  }

}
///////////////////////responsive desktopview//////////////
@media only screen and (min-width: 1050px) {
  body {
    width: auto;
    section {
      #images {
        h3 {
          margin-left: 6em;
        }
      }
      @include desktopview;
      .sidebar {
         @include scroll;
         margin-left: 1em;
         float: right;
         .picture {
           height: 200px;
           display: block;
         }
       }
    }
    /////////////footer/////////////////////////
    footer {
      div {
        ul {
          margin-left: -40px;
          li {
            display: block;
            padding-left: 0px;
          }
        }
      }
    }
  }
}
