$prune:#6F1616;
$faluRed: #8E1C1C;
$fireBrick: #AD2222;
$deepChesnut: #BB4A4A;
$Fuzzy: #CA7272;

$sand: #efb6ac;
$green: #183A37;
$lilac: #C8ADC0;

$snow: #f9f9f9;
$darkSnow: #ddd;
$black: #000;

$transparent: #ffffff45;
$gradientBackground: linear-gradient(#3498db, #9b59b6);
$fireBrickGradient: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);

@mixin gradientOne {
  background: radial-gradient(#6F1616, #8E1C1C, #AD2222, #BB4A4A, #CA7272);
}
