

$basefont: 'Monoton', cursive;
$firstfont:'Cabin Sketch', cursive;
$secondfont:'Lobster', cursive;
$thirdfont: 'Kavivanar', cursive;
$fourthfont: 'Indie Flower', cursive;
$fontfive: 'Chewy', cursive;
$defaultfont: 'Arima Madurai', cursive;
$heading: 75px;
